<p-card [header]="label">
       <div class="flex gap-4 flex-wrap">
              <p-floatLabel variant="on">
                     <label for="type">Type</label>
                     <input type="text"
                            pInputText
                            [ngModel]="item.type"
                            (ngModelChange)="item.type=$event;handleChange()"
                            title="Type"
                            id="type"/>
              </p-floatLabel>

              <p-floatLabel variant="on">
                     <label for="description">Description</label>
                     <input type="text"
                            pInputText
                            [ngModel]="item.description"
                            (ngModelChange)="item.description=$event;handleChange()"
                            id="description"
                            title="Description" />
              </p-floatLabel>

              <app-position [value]="item.position"
                            (valueChange)="item.position=$event;handleChange()"
              ></app-position>
       </div>
</p-card>