<p-card header="Position">
       <div class="flex gap-4 flex-wrap">
              <p-floatLabel variant="on">
                     <label for="x">X</label>
                     <p-inputnumber
                     [minFractionDigits]="2"
                     [ngModel]="item.x"
                     (ngModelChange)="item.x=$event;handleChange()"
                     id="x"
                     title="X"
                     />
              </p-floatLabel>

              <p-floatLabel variant="on">
                     <label for="y">Y</label>
                     <p-inputnumber
                     [minFractionDigits]="2"
                     [ngModel]="item.y"
                     (ngModelChange)="item.y=$event;handleChange()"
                     id="y"
                     title="Y"
                     />
              </p-floatLabel>
       </div>
</p-card>