<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div class="flex flex-col gap-4">
    <p-tabs value="0" scrollable="true">
      <p-tablist>
        <p-tab value="0">Entête</p-tab>
        <p-tab value="1">Plastron</p-tab>
        <p-tab value="2">Fixations</p-tab>
        <p-tab value="3">Afficheur</p-tab>
        <p-tab value="4">Plaque signalétique</p-tab>
        <p-tab value="5">Haut parleur</p-tab>
        <p-tab value="6">Phonie</p-tab>
        <p-tab value="7">Éclairage secouru</p-tab>
        <p-tab value="8">Logo plastron</p-tab>
        <p-tab value="9">Aeration</p-tab>
        <p-tab value="10">Goujon masse</p-tab>
        <p-tab value="11">Gravure</p-tab>
        <p-tab value="12">Boutons</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-entete
            [value]="commande.entete"
            (valueChange)="commande.entete = $event; handleChange()"
          ></app-entete>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-plastron
            [value]="commande.plastron"
            (valueChange)="commande.plastron = $event; handleChange()"
          ></app-plastron>
        </p-tabpanel>
        <p-tabpanel value="2">
          <app-fixations
            [value]="commande.fixations"
            (valueChange)="commande.fixations = $event; handleChange()"
          ></app-fixations>
        </p-tabpanel>
        <p-tabpanel value="3">
          <app-generic-item
            [value]="commande.afficheur"
            [label]="'Afficheur'"
            (valueChange)="commande.afficheur = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="4">
          <app-generic-item
            [value]="commande.plaque_signaletique"
            [label]="'Plaque signalétique'"
            (valueChange)="
              commande.plaque_signaletique = $event; handleChange()
            "
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="5">
          <app-generic-item
            [value]="commande.haut_parleur"
            [label]="'Haut parleur'"
            (valueChange)="commande.haut_parleur = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="6">
          <app-generic-item
            [value]="commande.phonie"
            [label]="'Phonie'"
            (valueChange)="commande.phonie = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="7">
          <app-generic-item
            [value]="commande.eclairage_secouru"
            [label]="'Éclairage secouru'"
            (valueChange)="commande.eclairage_secouru = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="8">
          <app-generic-item
            [value]="commande.logo_plastron"
            [label]="'Logo plastron'"
            (valueChange)="commande.logo_plastron = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="9">
          <app-generic-item
            [value]="commande.aeration"
            [label]="'Aération'"
            (valueChange)="commande.aeration = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="10">
          <app-generic-item
            [value]="commande.goujon_masse"
            [label]="'Goujon masse'"
            (valueChange)="commande.goujon_masse = $event; handleChange()"
          >
          </app-generic-item>
        </p-tabpanel>
        <p-tabpanel value="11">
          <app-gravure
            [value]="commande.gravure"
            (valueChange)="commande.gravure = $event; handleChange()"
          >
          </app-gravure>
        </p-tabpanel>
        <p-tabpanel value="12">
          <app-boutons
            [value]="commande.boutons"
            (valueChange)="commande.boutons = $event; handleChange()"
          >
          </app-boutons>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  <div class="flex flex-col gap-4">
    <p-card class="">
      <ng-template #header>
        <div class="flex items-center justify-between p-4">
          <span class="p-card-title">Xml</span>
          <p-button
            (onClick)="handleCopyToClipboard()"
            icon="pi pi-copy"
            pTooltip="Copier dans le presse-papier"
            tooltipPosition="left"
          ></p-button>
        </div>
      </ng-template>
      <pre>{{ xmlString }}</pre>
    </p-card>
  </div>
</div>
