<p-card header="Matière">
  <div class="flex gap-4 flex-wrap">
    <app-hints-field
      label="Type"
      questionId="plastron.matiere.type"
      [value]="item.type"
      (valueChange)="item.type = $event; handleChange()"
    >
    </app-hints-field>

    <app-hints-field
      label="Finition"
      questionId="plastron.matiere.finition"
      [value]="item.finition"
      (valueChange)="item.finition = $event; handleChange()"
    >
    </app-hints-field>

    <app-hints-field
      label="Couleur"
      questionId="plastron.matiere.couleur"
      [value]="item.couleur"
      (valueChange)="item.couleur = $event; handleChange()"
    >
    </app-hints-field>
  </div>
</p-card>
