<p-card header="Fixations">
  <div class="flex gap-4 flex-wrap">
    <app-hints-field
      label="Type"
      questionId="fixations.type"
      [value]="item.type"
      (valueChange)="item.type = $event; handleChange()"
    >
    </app-hints-field>

    <p-floatLabel variant="on">
      <label for="description">Description</label>
      <input
        type="text"
        pInputText
        [ngModel]="item.description"
        (ngModelChange)="item.description = $event; handleChange()"
        title="Description"
        id="description"
      />
    </p-floatLabel>

    <app-fixations-dimensions
      [value]="item.dimensions"
      (valueChange)="item.dimensions = $event; handleChange()"
    ></app-fixations-dimensions>

    <app-positions
      [value]="item.positions.position"
      (valueChange)="item.positions.position = $event; handleChange()"
    ></app-positions>
  </div>
</p-card>
