<p-card header="Plastron">
  <div class="flex gap-4 flex-wrap">
    <app-hints-field
      label="Type"
      questionId="plastron.type"
      [value]="item.type"
      (valueChange)="item.type = $event; handleChange()"
    >
    </app-hints-field>

    <p-floatLabel variant="on">
      <label for="description">Description</label>
      <input
        type="text"
        pInputText
        [ngModel]="item.description"
        (ngModelChange)="item.description = $event; handleChange()"
        id="description"
        title="Description"
      />
    </p-floatLabel>

    <app-plastron-dimensions
      [value]="item.dimensions"
      (valueChange)="item.dimensions = $event; handleChange()"
    ></app-plastron-dimensions>

    <app-matiere
      [value]="item.matiere"
      (valueChange)="item.matiere = $event; handleChange()"
    ></app-matiere>
  </div>
</p-card>
