@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

.p-floatlabel-on:has(input.p-filled) label{
    z-index:1;
}
label {
    z-index: 1;
}
.p-tablist-nav-button {
    background-color: var(--p-button-primary-border-color) !important;
    color: white !important;
}